---
import H1 from './typography/H1.astro';

const services = [
  {
    icon: 'icons/ecommerce.svg',
    name: 'Lojas virtuais',
    description: 'Você tem milhares de clientes em potencial, que estão se sentindo muito à vontade para gastar dinheiro online e só precisam de um pouco de motivação para gastá-lo com você. Usando as melhores tecnologias do mercado, construimos e-commerces escaláveis e sob medida, com dados em tempo real e um sistema de gerenciamento de pedidos.',
    image: 'images/ecommerce.png'
  },
  {
    icon: '/icons/landingpage.svg',
    name: 'Landing Pages',
    description: 'Desenvolvidas estratégicamente para aumentar as taxas de conversão e alavancar seu negócio. Despertam a curiosidade, criam interesse e provocam desejo no público alvo, de modo que ele faça um pedido de orçamento ou de acesso à algum conteúdo. Isso agrega valor e gera leads, que posteriormente se tornarão bons clientes.',
    image: 'images/landingpage.png'
  },
  {
    icon: '/icons/desktop.svg',
    name: 'Hubs',
    description: 'Sistema na forma de um WebApp de uso interno às empresas, fornecedores e clientes, essencial para uma boa gestão. Pode incluir serviços de gestão financeira, gestão de projetos, gestão de tarefas, relatórios em tempo real, vendas, automações e integrações com outros sistemas.',
    image: 'images/hub.png'
  },
  {
    icon: '/icons/website.svg',
    name: 'Websites',
    description: 'Essencial para a presença online de qualquer negócio, crucial para gerar resultados. Quebre todas as barreiras geográficas e mostre quem você é e o que você faz. É o centralizador das estratégias de comunicação e quem vai construir sua imagem e credibilidade.',
    image: 'images/website.png'
  },
  {
    icon: '/icons/desktop.svg',
    name: 'Desktop',
    description: 'Geralmente usados para automatizar processos de manipulação de arquivos e manter aplicações independentes da internet, pois mantém setores em funcionamento mesmo com problemas de rede, usam recursos do sistema operacional e suportam grandes entradas de dados, possibilitando automações incríveis.',
    image: 'images/desktop.png'
  },
  {
    icon: '/icons/mobile.svg',
    name: 'Apps',
    description: 'Aprimora o atendimento e experiência do usuário. Fortalecemos sua marca construindo um app multiplataforma, que rode no Android e IOS, e que use todos os recursos do seu aparelho, como câmera, geolocalização e notificações push. Fazemos isso usando React Native, tecnologia do Facebook, usada também por empresas como Tesla, Airbnb, Uber e Microsoft.',
    image: 'images/app.png'
  },
];
---

<div id="services" class='relative flex flex-col items-center w-full h-full px-3 overflow-hidden bg-secondaryBrand'>
  <img src="icons/circles2.svg" alt="" class="animate-pulse hidden h-[30rem] w-[30rem] absolute -left-60 top-[40%] -translate-y-1/2 md:block">
  <img src="icons/circles1.svg" alt="" class="animate-spin-slow hidden h-[30rem] w-[30rem] absolute -right-20 bottom-60 md:block">

  <div class='z-10 flex flex-col w-full max-w-6xl gap-20 py-20 md:py-28 border-t-2 border-t-black/20'>
    <header class="flex flex-col gap-5">
      <H1 text="Como podemos ajudar?" extraStyles="flex-initial text-black" />
      <!-- <h2 class="text-[1.08rem] text-black sm:text-xl font-helveticaNowText">
        Criamos soluções que simplificam os requisitos, aumentam a produtividade, reduzem os prazos e padronizam processos.
      </h2> -->
    </header>
    <section class='relative flex flex-col flex-auto gap-20 lg:gap-32'>
      {services.map((service, i) => (
        <>
          <div class="items-center hidden w-full gap-20 text-black lg:flex">
            {i % 2 === 0 && <img class="object-cover object-top w-1/2 border-2 border-black h-96 rounded-2xl" src={service.image} alt="" />}
            <section class="flex flex-col w-1/2 gap-6">
              <figure class={'absolute h-10 w-10 rounded-lg flex justify-center items-center bg-brand'}>
                <img src={service.icon} alt={service.name} class='w-8 h-8' />
              </figure>
              <h3 class="mt-16 text-4xl font-matterSemiBold">{service.name}</h3>
              <p class="text-[1.08rem] font-helveticaNowText">{service.description}</p>
            </section>
            {i % 2 !== 0 && <img class="object-cover object-top w-1/2 border-2 border-black h-96 rounded-2xl" src={service.image} alt="" />}
          </div>

          <div class="flex flex-col lg:hidden">
            <h3 class="font-helveticaNowText text-2xl my-2 bg-brand w-min whitespace-nowrap">{service.name}</h3>
            <img class="object-cover object-top w-full h-60 rounded border border-black" src={service.image} alt="" />
            <div class="text-black rounded-bl-2xl font-helveticaNowText my-2">{service.description}</div>
          </div>
        </>
      ))}
    </section>
  </div>
</div>